/* --------------------------------------------- */
/* ▼モバイルファースト (全環境に共通のデザイン) */
/* --------------------------------------------- */
main img {
  width: 100%;
}
h1:before {
  content: "・";
  color: #870000;
}
h1 {
  margin-top: 2em;
  font-size: 1.3em;
}
#button {
  margin-bottom: 9em;
}
.center {
  text-align: center;
}

/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: 768px) {
  main img {
    width: 75%;
  }

  .photo {
    text-align: center;
  }
  h1 {
    font-size: 2em;
  }
}
.center {
  margin-bottom: 6vw;
}
#movie {
  width: 80%;
  margin: 0 auto;
}

/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1024px) {
  #movie {
    width: 60%;
  }
  main img {
    width: 65%;
  }
}
